*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1.5s ease-out;
    backface-visibility: hidden; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation: moveInRight 1.5s ease-out;
    backface-visibility: hidden;
    margin-bottom: 6rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  margin-bottom: 5rem; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.description {
  line-height: 1.5; }
  .description__text {
    padding: 2rem 15rem;
    padding-right: 0; }
  .description__para {
    margin: 2rem 0; }
  .description__heading {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem; }
  .description__paragraph {
    font-size: 1.4rem;
    letter-spacing: 0.03rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section-about .description {
    display: flex; }
    .section-about .description .gallery {
      flex: 0 0 55%;
      margin-right: 10rem;
      z-index: 1;
      transition: all 0.2s;
      outline-offset: 2rem; }
      .section-about .description .gallery__photo {
        width: 40%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
        position: relative; }
        .section-about .description .gallery__photo--p1 {
          left: 15rem;
          top: 4rem; }
        .section-about .description .gallery__photo--p2 {
          top: 10rem;
          left: 10rem; }
        .section-about .description .gallery__photo--p3 {
          left: 25rem;
          bottom: 1rem; }
        .section-about .description .gallery__photo:hover {
          outline: 1.5rem solid #55c57a;
          transform: scale(1.1) translateY(0.5rem);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          z-index: 2; }
      .section-about .description .gallery:hover .section-about .description .gallery__photo:not(:hover) {
        transform: scale(0.8); }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.767), rgba(40, 180, 133, 0.938)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  margin-top: -10rem;
  transform: skewY(-5deg); }
  .section-features > * {
    transform: skewY(5deg); }

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10rem;
  border-radius: 0.3rem; }
  .row .col .feature-box {
    margin: 0rem 2rem;
    padding: 2.5rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform .90sec ease; }
    .row .col .feature-box__text {
      font-size: 1.5rem;
      letter-spacing: 0.03rem;
      margin-bottom: 2rem; }
    .row .col .feature-box__icon {
      font-size: 6rem;
      margin-bottom: 0.5rem;
      display: inline-block;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      background-clip: text;
      color: transparent; }
    .row .col .feature-box:hover {
      transform: translateY(-1.3rem) scale(1.05); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0;
  margin-top: -8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section-tours__rows {
    display: flex; }
  .section-tours__card {
    perspective: 150rem;
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.15);
    position: relative;
    background-color: transparent;
    width: 30rem;
    display: flex;
    height: 50rem;
    margin: 3rem;
    margin-bottom: 10rem;
    overflow: hidden;
    transition: transform 0.8s; }
    .section-tours__card:hover .front {
      transform: rotateY(-180deg); }
    .section-tours__card:hover .back {
      transform: rotateY(0deg); }
    .section-tours__card .front {
      width: 30rem;
      position: absolute;
      height: 50rem;
      top: 0;
      left: 0;
      backface-visibility: hidden; }
    .section-tours__card .back {
      width: 30rem;
      position: absolute;
      height: 50rem;
      top: 0;
      left: 0;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-tours__card .back .price-box {
        color: #fff;
        text-align: center;
        margin-bottom: 5rem; }
        .section-tours__card .back .price-box .price-only {
          font-size: 1.5rem;
          text-transform: uppercase;
          font-weight: 400; }
        .section-tours__card .back .price-box .price-value {
          font-size: 6.5rem;
          font-weight: 200; }
    .section-tours__card .b1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .section-tours__card .c1 {
      background-image: linear-gradient(to right, rgba(255, 185, 0, 0.6), rgba(255, 119, 48, 0.3)), url("../img/nat-5.jpg"); }
    .section-tours__card .b2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .section-tours__card .c2 {
      background-image: linear-gradient(to right, rgba(126, 213, 111, 0.5), rgba(40, 180, 133, 0.3)), url("../img/nat-6.jpg"); }
    .section-tours__card .b3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .section-tours__card .c3 {
      background-image: linear-gradient(to right, rgba(41, 152, 255, 0.6), rgba(86, 67, 250, 0.1)), url("../img/nat-7.jpg"); }
    .section-tours__card .card-header {
      background-size: cover;
      background-position: top;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      height: 20rem;
      z-index: 0; }
      .section-tours__card .card-header__text {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 600;
        color: #f7f7f7;
        text-align: right;
        position: absolute;
        top: 9rem;
        right: 2rem;
        z-index: 20; }
        .section-tours__card .card-header__text--comp {
          padding: 1rem;
          background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.767), rgba(255, 119, 48, 0.938)); }
        .section-tours__card .card-header__text .co-2 {
          background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.76), rgba(40, 180, 133, 0.9)); }
        .section-tours__card .card-header__text .co-3 {
          background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.767), rgba(86, 67, 250, 0.938)); }
    .section-tours__card .card-features {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 400;
      color: #777; }
      .section-tours__card .card-features .feature {
        margin: 1.5rem; }
      .section-tours__card .card-features hr {
        width: 70%;
        border-top: 0.001rem solid #dbdbdb;
        border-bottom: 0rem; }

.section-stories {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15rem 0; }
  .section-stories__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .section-stories__story {
    width: 75%;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    padding: 6rem;
    margin: 5rem;
    margin-top: 3rem;
    background-color: rgba(247, 247, 247, 0.6);
    padding-left: 9rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewX(-12deg);
    flex-direction: row; }
    .section-stories__story:hover .caption {
      opacity: 1;
      transform: translate(-50%, -50%); }
    .section-stories__story:hover .img {
      transform: translateX(-4rem) scale(1);
      filter: blur(3px) brightness(80%); }

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2rem; }

.shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(40% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative; }

.img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  backface-visibility: hidden;
  transition: all .5s; }

.story-text {
  transform: skewX(12deg); }

.text {
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
  line-height: 1.5; }

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all .5s;
  backface-visibility: hidden; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: .15; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.section-book {
  padding: 15rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }
  .book__form {
    width: 50%;
    padding: 6rem; }

.btn {
  background-color: #55c57a;
  color: #fff; }
  .btn span {
    margin-left: 0.3rem;
    transition: margin-left 0.2s; }
  .btn, .btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    border-radius: 10rem;
    transition: all 0.6s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover span {
      margin-left: 0.8rem; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .btn--white {
    background-color: #fff;
    color: #777;
    animation: moveInBottom 1.3s ease-out;
    animation-fill-mode: backwards;
    animation-delay: 0.3s; }
    .btn--white::after {
      background-color: #fff; }
  .btn--animated::after {
    background-color: #55c57a; }

.btn-inline {
  margin-top: 3.5rem;
  border: none;
  color: #28b485;
  font-style: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-inline span {
    margin-left: 0.3rem;
    transition: margin-left 0.2s; }
  .btn-inline:hover {
    color: #fff;
    padding: 0.5rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    background-color: #28b485; }
    .btn-inline:hover span {
      margin-left: 0.8rem; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.767), rgba(40, 180, 133, 0.938)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 5vh; }
  .header__text-box {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* this makes the element in relation with itself rather that parent */ }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4em; }
  .footer__row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10rem; }
  .footer__logo {
    width: 15rem; }
  .footer__navigation {
    margin-left: 17rem;
    display: flex;
    flex-direction: column; }
  .footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; }
  .footer__item {
    padding: 2rem; }
    .footer__item:first-child {
      padding-left: 0; }
    .footer__item:last-child {
      padding-right: 0; }
  .footer__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
    .footer__link:hover, .footer__link:active {
      color: #55c57a;
      transform: rotate(5deg) scale(1.2);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .footer__copy-text {
    padding-left: 20rem;
    padding-right: 20rem; }
  .footer__copyright {
    margin-top: 1.5rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 1000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 100;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.7, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 0%;
  transition: all 0.5s cubic-bezier(0.86, 0, 0.7, 1); }

.navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  background-size: 230%;
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  transition: all 0.4s;
  display: inline-block; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 2rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.4rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #818181;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon:before {
  top: -1rem; }

.navigation__button:hover .navigation__icon:after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  top: 0;
  transform: rotate(-135deg); }

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 0.3rem solid transparent;
    width: 40rem;
    display: block;
    font-family: inherit;
    transition: all 0.4s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 0.3rem solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 0.3rem solid #ff7730; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-group {
    margin: 0 3rem 6rem -2.5rem; }
  .form__group-rad {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 0.5rem solid #55c57a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: -0.5rem; }
    .form__radio-button:after {
      height: 1.5rem;
      width: 1.5rem;
      content: '';
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 12.9%;
      left: 12.9%;
      transform: translate(-50% -50%);
      background-color: #55c57a;
      opacity: 0;
      transition: opacity 0.2s; }
  .form__radio-input:checked + .form__radio-label .form__radio-button::after {
    opacity: 1; }
  .form__radio-input {
    visibility: hidden; }

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 16.55rem;
    right: 21rem;
    text-decoration: none;
    font-size: 3rem;
    display: inline-block;
    transition: all 0.3s; }
  .popup__close:hover {
    color: #55c57a; }
  .popup__content {
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .popup__images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%; }
  .popup__text {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .popup__text--para {
      column-count: 2;
      column-gap: 4rem;
      column-rule: 1px solid #eee;
      margin-bottom: 5rem;
      hyphens: auto; }
    .popup__text--paragraph {
      font-size: 1.4rem;
      line-height: 1.7;
      letter-spacing: .07rem; }
